*.env
*.jpg
*.jpeg
*.png
*.svg
*.zip
*.gz
*.pkl
*.npy
*.npz
*.csv
*.parquet

.DS_Store
.keras
.vscode
.ivy2
.cache
.jupyter
.local
.pytest_cache
.ipython

__pycache__/

cachedir

node_modules
package-lock.json

.vscode
.keras
.ivy2
.cache
.jupyter
.local
.pytest_cache
.ipython

*.npy
*.zip

.gitignore
Dockerfile
Jenkinsfile


paper/
data
#gluon-ts
hts-constrained-embeddings/